/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-color: #000028;
  --cover-image: url('../images/cover-image-dark.png');
  --nav-color: #FF0070;
  --main-title-color: #DB00FF;
  --main-title-shadow-color: var(--nav-color);
  --highlighted-title-color: #000028;
  --highlighted-title-background: var(--nav-color);
  --section-title-color: var(--nav-color);
  --text-color: #F1B2CE;
  --link-shadow-color: var(--nav-color);
  --footer-shadow: var(--nav-color);
  --corners-color: var(--nav-color);
  --accent-color: var(--nav-color);
  --nav-hover-border-color: #FF007066;
}

.theme_dark .rec {
    display: block;
    position: absolute;
    top: 22px;
    right: 29px;
    color: var(--accent-color, #FF0070);
    text-transform: uppercase;
}

.rec::after {
  content: '';
  position: relative;
  top: -2px;
  display: inline-block;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color, #FF0070);
  background-color: var(--accent-color, #FF0070);
  inline-size: 9px;
  block-size: 9px;
}

@media (max-width: 450px) {
  .theme_dark .rec {
    top: 12px;
    right: 19px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000028;
    --cover-image: url('../images/cover-image-dark.png');
    --nav-color: #FF0070;
    --main-title-color: #DB00FF;
    --main-title-shadow-color: var(--nav-color);
    --highlighted-title-color: #000028;
    --highlighted-title-background: var(--nav-color);
    --section-title-color: var(--nav-color);
    --text-color: #F1B2CE;
    --link-shadow-color: var(--nav-color);
    --footer-shadow: var(--nav-color);
    --corners-color: var(--nav-color);
    --accent-color: var(--nav-color);
    --nav-hover-border-color: #FF007066;
  }

  .rec {
    position: absolute;
    top: 22px;
    right: 29px;
    color: var(--accent-color, #FF0070);
    text-transform: uppercase;
  }
  
  .rec::after {
    content: '';
    position: relative;
    top: -2px;
    display: inline-block;
    margin-inline-start: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px var(--accent-color, #FF0070);
    background-color: var(--accent-color, #FF0070);
    inline-size: 9px;
    block-size: 9px;
  }
}

@media (prefers-color-scheme: dark) and (max-width: 450px) {
  .rec {
    top: 12px;
    right: 19px;
  }
}