/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* * {
  border: 1px dashed white;
} */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  grid-row-gap: 60px;
  font-family: var(--main-font, monospace, sans-serif);
  font-weight: normal;
  font-size: var(--font-size);
  background-color: var(--background-color);
  background-image: var(--cover-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header,
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr 1fr 2fr;
  /* margin: auto; */
  padding: 1.11em;
  block-size: 100vh;
  min-block-size: 668px;
  max-inline-size: 1024px;
  inline-size: 100%;
}

.header {
  position: relative;
}

.decorated-zone::before {
  content: '';
  display: inline-block;
  grid-column: 3;
  justify-self: end;
  border-top: 1px solid var(--corners-color);
  border-right: 1px solid var(--corners-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  display: inline-block;
  grid-row: 3;
  align-self: end;
  border-bottom: 1px solid var(--corners-color);
  border-left: 1px solid var(--corners-color);
  inline-size: 25px;
  block-size: 25px;
}

.header__theme-menu {
  grid-column: 2;
  grid-row: 1;
}

.header__theme-menu-list {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  gap: 0.55em;
  line-height: 1em;
}

.header__theme-menu-item {
  color: var(--nav-color);
}

.header__theme-menu-button {
  border: none;
  padding: .08em 0.72em;
  text-transform: lowercase;
  background-color: inherit;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-border-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  position: relative;
  right: 1.2rem;
  grid-column: 1 / 4;
  grid-row: 2;
  align-self: center;
  text-shadow: 4px 4px 0 var(--main-title-shadow-color);
}

.page-title {
  color: var(--main-title-color);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: .825em;
}

.header__title-description {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
  justify-self: end;
  align-self: center;
  max-inline-size: 75%;
}

.title-decor {
  color: var(--highlighted-title-color);
  font-weight: 700;
  font-size: inherit;
  line-height: 1.3em;
  background-color: var(--highlighted-title-background);
}

.main {
  display: grid;
  grid-row-gap: 80px;
  margin: auto;
  padding-inline-start: 1.11em;
  padding-inline-end: 1.11em;
  max-inline-size: 1024px;
}

.main__section {
  display: grid;
  gap: 20px;
}

.main__section-title {
  color: var(--section-title-color);
  font-size: var(--font-size);
  line-height: 1.3em;
  max-inline-size: 315px;
}

.why-so-hard,
.concentration-improvers {
  grid-template-columns: 1fr 2.06fr;
  grid-auto-flow: column;
}

.main__list {
  display: grid;
  gap: 20px;
}

.main__list-element-text {
  margin-block-start: 10px;
  color: var(--text-color);
  line-height: 1.3em;
}

.main__list-element-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.main__list-element-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.main__list-element-link:focus {
  outline: none;
}

.main__list-element-link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: -1px;
}

.concentration-eaters {
  grid-auto-flow: row;
}

.concentration-eaters .main__list,
.in-pictures .main__list {
  grid-template-columns: repeat(3, 1fr);
}

.main__list-element-subtitle {
  font-weight: normal;
}

.main__images {
  object-fit: cover;
  max-inline-size: 100%;
  block-size: 100%;
}

.sunset {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
}

.ice-cream {
  grid-column: 3 / 4;
  grid-row: 1 / span 2;
}

.tape {
  grid-column: 1 / 2;
  grid-row: 2 / span 2;
}

.books {
  grid-column: 2/ 3;
  grid-row: 2 / 3;
}

.street {
  grid-column: 2 / span 2;
  grid-row: 3 / 4;
}

.focus {
  display: block;
  grid-column: 1 / 4;
  grid-row: 2;
  text-align: center;
  text-shadow: 2px 2px 0 var(--footer-shadow);
}

@media (max-width: 800px) {

  .header,
  .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.5fr 1.5fr 1.5fr 1fr 4.5fr;
  }

  .decorated-zone::before {
    grid-column: 2;
  }

  .decorated-zone::after {
    grid-row: 5;
  }

  .header__theme-menu {
    grid-column: 2;
    grid-row: 2 / 3;
    align-self: center;
  }

  .header__theme-menu-list {
    display: grid;
    grid-auto-flow: row;
    justify-content: end;
    gap: 0.55em;
  }
  
  .header__title {
    grid-row: 4 / 5;
  }

  .header__title-description {
    grid-row: 5;
    max-inline-size: 100%;
  }

  .why-so-hard,
  .concentration-improvers {
    grid-template-columns: 1fr 2fr;
  }

  .main__section-title {
    max-inline-size: 236px;
  }

  .concentration-eaters .main__list {
    grid-template-columns: 1fr;
  }
  
  .footer {
    grid-template-rows: repeat(5, 1fr);
  }
  
  .focus {
    grid-row: 3;
    align-self: center;
  }

}

@media (max-width: 425px) {

  .page {
    grid-row-gap: 40px;
  }

  .header,
  .footer {
    grid-template-columns: 1fr;
    padding: .55em;
  }
  
  .header {
    grid-template-rows: .65fr 1fr 0.7fr 2fr 2.3fr;
  }

  .header__title {
    grid-column: 1;
    align-self: baseline;
    position: static;
  }

  .decorated-zone::before {
    grid-column: 1;
  }

  .decorated-zone::after {
    grid-column: 1;
  }

  .header__theme-menu {
    grid-column: 1;
    grid-row: 2;
  }

  .header__title-description {
    grid-column: 1;
  }

  .page-title {
    font-size: var(--title-font-size-small);
  }

  .main {
    grid-row-gap: 50px;
    margin: auto;
    padding-inline-start: .55em;
    padding-inline-end: .55em;
  }

  .main__section-title {
    max-inline-size: 100%;
  }

  .why-so-hard,
  .concentration-eaters,
  .concentration-improvers {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .in-pictures {
    gap: 10px;
  }

  .in-pictures .main__list {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .in-pictures .main__list-element {
    grid-column: auto;
    grid-row: auto;
  }

}