/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --main-font: 'IBM Plex Mono';
  --font-size: 18px;
  --title-font-size-large: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  --title-font-size-small: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --background-color: #000028;
  --cover-image: url('../images/cover-image-dark.png');
  --nav-color: #FF0070;
  --main-title-color: #DB00FF;
  --main-title-shadow-color: var(--nav-color);
  --highlighted-title-color: #000028;
  --highlighted-title-background: var(--nav-color);
  --section-title-color: var(--nav-color);
  --text-color: #F1B2CE;
  --link-shadow-color: var(--nav-color);
  --footer-shadow: var(--nav-color);
  --corners-color: var(--nav-color);
  --accent-color: var(--nav-color);
  --nav-hover-border-color: #FF007066;
}